#---------------------------------------------------------------------------
#  Absolute path to default mailer executable (sendmail, postfix, etc). On 
#  both Mac OS X and CentOS Linux, this is /usr/sbin.
#---------------------------------------------------------------------------
mailer_path = "/usr/sbin"

#---------------------------------------------------------------------------
# Relative path of YUI Build directory (relative to webserver root)
#---------------------------------------------------------------------------
yui_build_root = "/yui/build"

#---------------------------------------------------------------------------
# Database info
#---------------------------------------------------------------------------
dbname     = "segex"
dbuser     = "segex_user"
dbpassword = "segex_user_password"

#---------------------------------------------------------------------------
# Session timeout (seconds): 1 hour = 3600 sec
#---------------------------------------------------------------------------
timeout = 3600

#---------------------------------------------------------------------------
# System timezone (you can check which timezone your UNIX-like sytem uses
# by running `date' command)
#---------------------------------------------------------------------------
timezone = "EST"
